header {
	background-color: #dcf5ea;
	padding-bottom: 50px;
   padding-top: 76px;
   font-size: 20px;

}

body {

background-color: #dcf5ea;
font-size: 25px; }

footer { font-size: 18px; }

.embed-responsive-item{max-width: 1080px;
max-height: 720px;}

.barra{
   background-color: seagreen;
   background: rgba(46, 139, 87, .9);
   color: white;
   font-family: 'Satisfy', cursive;
   font-size: 30px;
}

.barra2{
   background-color: white;
   font-family: 'Satisfy', cursive;
   font-size: 20px;
}

.barra > a > img{
   max-height: 50px;
}

.barrahov:hover{
   background-color: mediumseagreen}

.text-orange{ color: rgb(204, 122, 0); }
.text-red{ color: rgb(153, 38, 0); }
.text-brown{ color: rgb(153, 102, 0); }

.imgcard {max-width: 350px;}

/*!
  Customs CSS stylesheet
 */

.layout-margin-8 {
  margin: 3% 8%;
}


.card-title {
  text-align: center;
}

.card-shadow {
  -webkit-box-shadow: 0px 0px 28px 14px  rgb(196, 212, 196);
  -moz-box-shadow: 0px 0px 28px 14px  rgb(196, 212, 196);
  box-shadow: 0px 0px 28px 14px rgb(196, 212, 196);
}

.card-deck {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.card2 {
  border: none;
  max-width: 400px;
  min-width: 400px;
  flex-grow: 1;
}

.card2 > img {
  max-width: 400px;
}

.bg-blue {
  background-color: #005EB8;
}


.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom2 {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom2:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.letrero {max-width: 800px;}

.imglogo { max-width: 300px; }
.sthumbnail { max-width: 300px; }