header{
	background-color: #dcf5ea;
	text-align: center;
	padding-top: 76px;
	padding-bottom: 50px;
	font-family: Lucida Console, Helvetica, Arial, sans-serif;
}

.barra{
   background-color: seagreen;
   background: rgba(46, 139, 87, .9);
   color: white;
   font-family: 'Satisfy', cursive;
   font-size: 30px;
}

.barra2{
   background-color: seagreen;
   background: rgba(46, 139, 87, .9);
   color: white;
   font-family: 'Satisfy', cursive;
   font-size: 20px;
}

.barra > a > img{
   max-height: 50px;
}

.barrahov:hover{
   background-color: mediumseagreen}