header {
	background-color: #dcf5ea;
	padding-bottom: 50px;
   padding-top: 76px;
   font-size: 20px;

}

body {

background-color: #dcf5ea;
align-content: center;
font-size: 25px; }

footer { font-size: 18px; }

.embed-responsive-item{max-width: 1080px;
max-height: 720px;}

.barra{
   background: rgba(46, 139, 87, .9);
   color: white;
   font-family: 'Satisfy', cursive;
   font-size: 30px;
}

.barra2{
   background-color: white;
   font-family: 'Satisfy', cursive;
   font-size: 20px;
}

.barra > a > img{
   max-height: 50px;
}

.barrahov:hover{
   background-color: mediumseagreen}

.navbar-nav {
    text-align: center;
}
